        <div class="col-lg-12">
          <h4>Getting Started</h4>
          <p>This is the place where your RepRap Industrial 3D Printer gets its printjobs.</p>

          <h4>1. The Slicing Software</h4>
          <p>To prepare your digital 3D models for printing you need to install
            the <i>Slic3r</i> slicing software on your computer.<br />
            Follow these steps:<br/>
            <ul>
              <li>Go to <a href="http://slic3r.org/download" target="_blank">http://slic3r.org/download</a>
                and download the latest installation package for Slic3r for your operating system.
              </li>
              <li>Follow the installation instructions available at<br/>
                <a href="http://manual.slic3r.org/GettingSlic3r.html#installing" target="_blank">http://manual.slic3r.org/GettingSlic3r.html#installing</a>
              </li>
              <li>Save the following preconfigured Slic3r profile for the RepRap Industrial
                to your computer:<br/>
                <a href="slic3r-profiles/reprapindustrial_slic3r_profile.ini">reprapindustrial_slic3r_profile.ini</a>                
              </li>
              <li>
                In Slic3r go to <i>File &rarr; Load Config</i> and select your previously
                saved .ini file
              </i>
            </ul>
          </p>
        </div>

        <div class="col-lg-12">
          <h4>2. Prepare your 3D model</h4>
          <p>Start Slic3r to process a 3D model into GCODE data. Select the preconfigured profiles 
            for filament, print and printer before generating a GCODE file.<br/>
            Refer to the <a href="http://manual.slic3r.org/">Slic3r manual</a> for help on finetuning any parameters
            for the printing process.
          </p>

          <h4>3. Add your printjob to the queue</h4>
          <p>Go to the <i>Queue</i> tab to upload your printjob to the 3D printer.</p>

          <h4>4. Start printing</h4>
          <p>The printjob is now available for printing on your RepRap Industrial
            and can be selected for printing via the touchscreen controller directly on
            the 3D printer.
          </p>
        </div>