        <div class="col-lg-12">
          
          <p class="text-center">
            <a href="http://docs.kuehlingkuehling.de" class="btn btn-lg btn-default" style="width:300px;">
              User's Manual<br/>
              <i class="fa fa-external-link"></i> <b>docs.kuehlingkuehling.de</b>
            </a>
          </p>
          <h4 class="text-center">Get started in a minute!</h4>
          <p class="text-center">Find a detailed <b>first-steps guide</b> for your<br> RepRap Industrial 3D Printer in the User's Manual.</p>
        </div>