<div class="row">
  <div class="col-xs-12">
      
    <div class="row">
      <h4 class="text-center">Axis Control</h4>
      <p class="text-center"><b>ATTENTION:</b> Be careful <b>not to crash</b> the print table and the extruder head. </p>
      <!-- X Axis Movements -->    
      <div class="col-xs-6">
        <p class="text-right">
        <small>left</small>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X-100')">
          -100
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X-10')">
          -10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X-1')">
          -1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X-0.1')">
          -0.1
        </button>  
        </p>
      </div>
      
      <div class="col-xs-6">
        <p class="text-left">
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X0.1')">
          +0.1
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X1')">
          +1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X10')">
          +10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X100')">
          +100
        </button>
        <small>right</small>
        </p>
      </div>
    </div>
      
    <div class="row">
      <div class="col-xs-6">
        <!-- X Axis Movements -->
        <p class="text-right">      
        <small>front</small>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y-100')">
          -100
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y-10')">
          -10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y-1')">
          -1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y-0.1')">
          -0.1
        </button> 
        </p>
      </div>
      
      <div class="col-xs-6">
        <p class="text-left">      
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y0.1')">
          +0.1
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y1')">
          +1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y10')">
          +10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y100')">
          +100
        </button> 
        <small>back</small>      
        </p>
      </div>
    </div>  
      
    <div class="row">
      <div class="col-xs-6">
        <!-- Z Axis Movements -->
        <p class="text-right">
        <small>down</small>        
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z-100')">
          -100
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z-10')">
          -10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z-1')">
          -1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z-0.1')">
          -0.1
        </button>
        </p>
      </div>
      
      <div class="col-xs-6">
        <p class="text-left">          
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z0.1')">
          +0.1
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z1')">
          +1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z10')">
          +10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z100')">
          +100
        </button> 
        <small>up</small>      
        </p>
      </div>
    </div>  
      
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">
          <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="macro('home_all')">
            Home All Axes
          </button>
        </p>
        <p class="text-center">
          <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="macro('maintenance_position')">
            Printhead Maintenance Position
          </button>   
        </p>      
      </div>  
    </div>
  </div>

  <div class="col-xs-12 text-center">
    &nbsp;
  </div>

  <div class="col-xs-12 text-center">
    <h4>Extruder Control</h4>
    <span>
      <span ng-show="printer.isDualExtruder">select:</span>&nbsp;<br/>
      <div class="btn-group text-center" ng-show="printer.isDualExtruder">
        <button type="button" ng-model="ext_name" class="btn btn-primary btn-lg {{ disable_buttons && 'disabled' }}" btn-radio="'left_extruder'">Left</button>
        <button type="button" ng-model="ext_name" class="btn btn-primary btn-lg {{ disable_buttons && 'disabled' }}" btn-radio="'right_extruder'">Right</button>
      </div>
    </span>
    <span ng-show="ext_name">
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="dec(10)" style="width:50px;">
          - -
      </button>
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="dec(1)" style="width:50px;">
          -
      </button>
      <span ng-show="ext_name == 'left_extruder'"> {{ temp_left }}°C </span> 
      <span ng-show="ext_name == 'right_extruder'"> {{ temp_right }}°C </span> 
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="inc(1)" style="width:50px;">
          +
      </button>
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="inc(10)" style="width:50px;">
          + +
      </button>
    </span>
    &nbsp;&nbsp;&nbsp;
    <span ng-show="ext_name != null">
      <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="set()">
          set
      </button> 
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="off()">
          OFF
      </button>
    </span>
    &nbsp;&nbsp;&nbsp;
    <span ng-show="ext_name != null">
      <button type="button" class="btn btn-primary btn-lg navigation {{ ( disable_buttons || !extruder_preheated ) && 'disabled' }}" ng-click="extrude(5)">
          extrude
      </button> 
      <button type="button" class="btn btn-default btn-lg navigation {{ ( disable_buttons || !extruder_preheated ) && 'disabled' }}" ng-click="extrude(-5)">
          retract
      </button>
    </span> 
  </div>
    
</div>