<div class="row">
  <div class="col-md-9">
      
    <div class="row">
      <h4 class="text-center">Axis Control</h4>
      <p class="text-center"><b>ATTENTION:</b> Be careful <b>not to crash</b> the print table and the extruder head. </p>
      <!-- X Axis Movements -->    
      <div class="col-md-5">
        <p class="text-right">
        <small>left</small>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X-100')">
          -100
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X-10')">
          -10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X-1')">
          -1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X-0.1')">
          -0.1
        </button>  
        </p>
      </div>
      <div class="col-md-2">
        <p class="text-center">      
        <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="macro('home_x')">
          Home <b>X</b>
        </button> 
        </p>
      </div>
      <div class="col-md-5">
        <p class="text-left">
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X0.1')">
          +0.1
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X1')">
          +1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X10')">
          +10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('X100')">
          +100
        </button>
        <small>right</small>
        </p>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-5">
        <!-- X Axis Movements -->
        <p class="text-right">      
        <small>front</small>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y-100')">
          -100
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y-10')">
          -10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y-1')">
          -1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y-0.1')">
          -0.1
        </button> 
        </p>
      </div>
      <div class="col-md-2">
        <p class="text-center">      
        <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="macro('home_y')">
          Home <b>Y</b>
        </button> 
        </p>
      </div>
      <div class="col-md-5">
        <p class="text-left">      
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y0.1')">
          +0.1
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y1')">
          +1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y10')">
          +10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Y100')">
          +100
        </button> 
        <small>back</small>      
        </p>
      </div>
    </div>  
      
    <div class="row">
      <div class="col-md-5">
        <!-- X Axis Movements -->
        <p class="text-right">
        <small>up</small>        
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z-100')">
          -100
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z-10')">
          -10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z-1')">
          -1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z-0.1')">
          -0.1
        </button>
        </p>
      </div>
      <div class="col-md-2">
        <p class="text-center">      
        <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="macro('home_z')">
          Home <b>Z</b>
        </button>  
        </p>
      </div>
      <div class="col-md-5">
        <p class="text-left">          
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z0.1')">
          +0.1
        </button>
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z1')">
          +1
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z10')">
          +10
        </button> 
        <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="move('Z100')">
          +100
        </button> 
        <small>down</small>      
        </p>
      </div>
    </div>  
      
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="macro('home_all')">
            Home All Axes
          </button>
        
          <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="macro('maintenance_position')">
            Printhead Maintenance Position
          </button>   
        </p>      
      </div>  
    </div>
  </div>

  <div class="col-md-3 text-center">
    <h4>Extruder Control</h4>
    <p>
      select:<br/>
      <div class="btn-group text-center">
        <button type="button" ng-model="ext_num" class="btn btn-primary btn-lg {{ disable_buttons && 'disabled' }}" btn-radio="'left'">Left</button>
        <button type="button" ng-model="ext_num" class="btn btn-primary btn-lg {{ disable_buttons && 'disabled' }}" btn-radio="'right'">Right</button>
      </div>
    </p>
    <p ng-show="ext_num">
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="dec(10)" style="width:50px;">
          --
      </button>
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="dec(1)" style="width:50px;">
          -
      </button>
      <span ng-show="ext_num == 'left'">{{ temp_left }}°C</span> 
      <span ng-show="ext_num == 'right'">{{ temp_right }}°C</span> 
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="inc(1)" style="width:50px;">
          +
      </button>
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="inc(10)" style="width:50px;">
          ++
      </button>
    </p>
    <p ng-show="ext_num">
      <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="set()">
          set
      </button> 
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="off()">
          OFF
      </button>
    </p>
    <p ng-show="ext_num">
      <button type="button" class="btn btn-primary btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="extrude(5)">
          extrude
      </button> 
      <button type="button" class="btn btn-default btn-lg navigation {{ disable_buttons && 'disabled' }}" ng-click="extrude(-5)">
          retract
      </button>
    </p> 
  </div>
    
</div>