<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3 class="text-center">Please confirm:</h3>
    <br />    
    <p class="text-center">Correct Nozzle installed? <i class="fa fa-check"></i></p>
    <p class="text-center">An empty print bed installed? <i class="fa fa-check"></i></p>
    <p class="text-center">Print bed precisely leveled? <i class="fa fa-check"></i></p>
    <p class="text-center">Filament loaded? <i class="fa fa-check"></i></p>
    <p class="text-center">Print chamber doors closed? <i class="fa fa-check"></i></p>
    <br />
    <p class="text-center">
      <a href="#/queue" class="btn btn-lg btn-default">Cancel</a>
      <button class="btn btn-lg btn-primary {{ !idle && 'disabled' }}" ng-click="startprint()">OK, Start Print!</button>
    </p>
  </div>
</div>