<div class="row">
  <div class="col-md-12">

    <!-- QUEUE -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:40px">&nbsp;</th>      
          <th>Print Job / Note</th>
          <th style="width:180px">
            Estimated Print Time
          </th>
          <!--
          <th>Filament used</th>
          -->
          <th style="width:200px">&nbsp;</th>
        </tr>
      </thead>
      <tbody ng-show="!printjobs.length">
        <tr>
          <td></td>
          <td>No printjobs in queue.</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <tbody ng-show="printjobs.length">
        <tr ng-repeat="p in printjobs">
          <td>{{ p.pos }}</td>
          <td>
            <p>{{ p.name }}</p>
            <p class="muted">{{ p.note }}</p>
          </td>
          <td>{{ p.estimated_print_time_in_words }}</td>
          <!--
          <td>n/a</td>
          <td>n/a</td>
          -->
          <td>
            <p class="text-right">    
            <a class="btn btn-primary btn-lg {{ !idle && 'disabled' }}" href="#/print_check/{{ p.id }}">
              print
            </a>
            <a class="btn btn-default btn-lg {{ !idle && 'disabled' }}" href="#/print_delete/{{ p.id }}">
              delete
            </a>
            </p>
          </td>                  
        </tr>
     </tbody>
    </table>

  </div>
</div>