<div class="row">
  <div class="col-md-9">

    <!-- QUEUE -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:40px">&nbsp;</th>      
          <th>Print Job / Note</th>
          <th style="width:180px">
            Estimated Print Time
          </th>
          <!--
          <th>Filament used</th>
          -->
          <th style="width:200px">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in pagedPrintjobs[currentPage - 1]">
          <td>{{ p.pos }}</td>
          <td>
            <p>{{ p.name }}</p>
            <p class="muted">{{ p.note }}</p>
          </td>
          <td>{{ p.estimated_print_time_in_words }}</td>
          <!--
          <td>n/a</td>
          <td>n/a</td>
          -->
          <td>
            <p class="text-right">    
            <a class="btn btn-primary btn-lg {{ !idle && 'disabled' }}" href="#/print_check/{{ p.id }}">
              print
            </a>
            <a class="btn btn-danger btn-lg {{ !idle && 'disabled' }}" href="#/print_delete/{{ p.id }}">
              delete
            </a>
            </p>
          </td>                  
        </tr>
     </tbody>
     <tfoot>
        <td colspan="6">
            <pagination class="pull-right" total-items="numPrintjobs" items-per-page="itemsPerPage" page="currentPage"></pagination>
        </td>
    </tfoot>
    </table>

  </div>
  <div class="col-md-3">
    <p class="text-right">
      <button type="button" class="btn btn-primary btn-lg navigation {{ printing && 'disabled' }}" ng-click="psu_on()" ng-show="!print.psu_on">
        Build Chamber ON
      </button>   
      <button type="button" class="btn btn-default btn-lg navigation {{ printing && 'disabled' }}" ng-click="psu_off()" ng-show="print.psu_on">
        Build Chamber OFF
      </button> 
    </p>
    <p class="text-right">
      <button type="button" class="btn btn-primary btn-lg navigation {{ ( printing || !preheatingProfile || !print.psu_on ) && 'disabled' }}" ng-click="preheat_on()" ng-show="( temp.chamber.target == 0 ) && ( temp.bed.target == 0 )">
        Preheat Chamber/Bed ON
      </button> 
      <button type="button" class="btn btn-default btn-lg navigation {{ printing && 'disabled' }}" ng-click="preheat_off()" ng-show="!(( temp.chamber.target == 0 ) && ( temp.bed.target == 0 ))">
        Preheat Chamber/Bed OFF
      </button>
    </p>
  </div>
</div>