<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>      
      <th style="width:70%">Name/ Note</th>
      <th>Modified</th>
      <!--
      <th>Estimated Print Time</th>
      <th>Filament used</th>
      -->
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="p in pagedPrintjobs[currentPage - 1]">
      <td>{{ p.pos }}</td>
      <td>
        <p>{{ p.name }}</p>
        <p class="muted">{{ p.note }}</p>
      </td>
      <td>{{ p.updated_at | date:'yyyy-MM-dd HH:mm' }}</td>
      <!--
      <td>n/a</td>
      <td>n/a</td>
      -->
      <td>
        <p class="text-right">    
        <a class="btn btn-primary btn-lg {{ !idle && 'disabled' }}" href="#/print_check/{{ p.id }}">
          print
        </a>
        </p>
      </td>                  
    </tr>
 </tbody>
 <tfoot>
    <td colspan="6">
        <pagination class="pull-right" total-items="numPrintjobs" items-per-page="itemsPerPage" page="currentPage"></pagination>
    </td>
</tfoot>
</table>
