<h3 class="wizard-title">Wizards</h3>
<div class="clearfix"><br/></div>

<div class="row">
  <div class="col-md-4">
    <a href="#/wizard_leveling" class="btn btn-primary btn-lg btn-block {{ !idle && 'disabled' }}">
      Print Bed Leveling
    </a>    
    <a href="#/wizard_unload_filament" class="btn btn-primary btn-lg btn-block {{ !(idle || paused) && 'disabled' }}">
      Unload Filament
    </a>
    <a href="#/wizard_load_filament" class="btn btn-primary btn-lg btn-block {{ !(idle || paused) && 'disabled' }}">
      Load Filament
    </a>
    <a href="#/wizard_priming" class="btn btn-primary btn-lg btn-block {{ !(idle || paused) && 'disabled' }}">
      Prime Extruders
    </a>
  </div>
  <div class="col-md-4">
 <!-- 
    <a href="#/wizard_nozzle_change" class="btn btn-default btn-lg btn-block {{ !idle && 'disabled' }}">
      Nozzle Change
    </a>    
    <button class="btn btn-default btn-lg btn-block">
      Nozzle Cleaning
    </button>
    <button class="btn btn-default btn-lg btn-block {{ !idle && 'disabled' }}">
      Service Air Filter
    </button>    
-->
    <a href="#/wizard_calibrate_extrusion" class="btn btn-default btn-lg btn-block {{ !idle && 'disabled' }}">
      Calibrate Extrusion
    </a>
    <a href="#/wizard_calibrate_offset" class="btn btn-default btn-lg btn-block {{ !idle && 'disabled' }}" ng-if="isDualExtruder">
      Calibrate Extruder Offset
    </a> 
    <a href="#/wizard_calibrate_backlash" class="btn btn-default btn-lg btn-block {{ !idle && 'disabled' }}">
      Calibrate Axes Backlash
    </a>    
  </div>
  <div class="col-md-4">
    <p class="text-right">
      Web Interface URL:<br />
      <kbd><b>{{ backendurl }}</b></kbd>
    </p>
    <br/>
    <p class="text-right">
      Software Version:<br />
      <kbd><b>{{ software_version }}</b></kbd>
    </p>
    <p class="text-right">
      Hardware Revision:<br />
      <kbd><b>{{ hardware_revision }}</b></kbd>
    </p>
    <p class="text-right">
      Microcontroller Firmware Version:<br />
      <kbd><b>{{ firmware_version_compatible }}</b></kbd> (compatible)<br />
      <kbd><b>{{ firmware_version_installed }}</b></kbd> (currently installed)
    </p>

<!--    
    <button class="btn btn-default btn-lg btn-block {{ !idle && 'disabled' }}">
      Initial Commissioning
    </button>   
    
    <a href="#/wizard_regular_maintenance" class="btn btn-default btn-lg btn-block {{ !idle && 'disabled' }}">
      Regular Maintenance
    </a>
-->
   </div>  
</div>

  
  
<!--  
Initial Commissioning
Regular Maintenance
Nozzle Changeover
Print Bed Leveling
Filament Diameter Calibration
Unload Filament
Load Filament
Reset Backend Password
Nozzle Cleaning (burn out)
Service Air Filter
-->