<h3 class="wizard-title">Wizards</h3>
<div class="clearfix"><br/></div>

<div class="row">
  <div class="col-md-4">
    <a href="#/wizard_leveling" class="btn btn-primary btn-lg btn-block {{ !idle && 'disabled' }}">
      Print Bed Leveling
    </a>
    <a href="#/wizard_calibrate_backlash" class="btn btn-default btn-lg btn-block {{ !idle && 'disabled' }}">
      Measure Axes Backlash
    </a> 
  </div>
  <div class="col-md-4">
    &nbsp;  
  </div>
  <div class="col-md-4">
    <p class="text-right">
      Web Interface URL:<br />
      <kbd><b>{{ backendurl }}</b></kbd>
    </p>
    <p class="text-right">
      IP Address:<br />
      <kbd><b>{{ ip_address }}</b></kbd>
    </p>
    <br/>
    <p class="text-right">
      Software Version:<br />
      <kbd><b>{{ software_version }}</b></kbd>
    </p>
    <p class="text-right">
      Hardware Revision:<br />
      <kbd><b>{{ hardware_revision }}</b></kbd>
    </p>
    <p class="text-right">
      Microcontroller Firmware Version:<br />
      <kbd><b>{{ firmware_version_compatible }}</b></kbd> (compatible)<br />
      <kbd><b>{{ firmware_version_installed }}</b></kbd> (currently installed)
    </p>
   </div>  
</div>