<div class="row">
  <div class="col-xs-12">
    <p class="text-right">
      Web Interface URL:<br />
      <kbd><b>{{ backendurl }}</b></kbd>
    </p>
    <p class="text-right">
      IP Address:<br />
      <kbd><b>{{ ip_address }}</b></kbd>
    </p>
    <br/>
    <p class="text-right">
      Software Version:<br />
      <kbd><b>{{ software_version }}</b></kbd>
    </p>
    <p class="text-right">
      Model/Hardware Revision:<br />
      <kbd><b>{{ model }} Rev. {{ hardware_revision }}</b></kbd>
    </p>
    <p class="text-right">
      Microcontroller Firmware Version:<br />
      <kbd><b>{{ firmware_version_compatible }}</b></kbd> (compatible)<br />
      <kbd><b>{{ firmware_version_installed }}</b></kbd> (currently installed)
    </p>
    <p class="text-right">
              System Time:<br/ >
              <kbd><b>{{ clock | date:'HH:mm'}} UTC</b></kbd>
    </p>

   </div>  
</div>
