<!-- header line -->
<div class="row">
  <div class="col-md-12">
    <button type="button" class="pull-right btn btn-danger btn-lg navigation" ng-click="exit()">
      Cancel
    </button>  
    <h3 class="wizard-title">
      Set Extruder Offset
    </h3>
    <br/>&nbsp;
  </div>
</div>    

<!-- contents -->
<div class="row">

  <div class="col-md-4">
    <div class="row">
      <!-- introduction text -->
      <div class="col-md-12">
        <p>To precisely calibrate the offset between the two extruder nozzles, a calibration object has to
          be printed and precisely measured.</p>
        <p>Refer to the <b>user's manual</b> for detailed instructions. After printing, adjust the following
          values according to your measurements and save your calibration:<br/>
          &nbsp;</p>
      </div>

      <div class="col-md-12" ng-show="config_loaded">
        <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="save()">
          Save Calibration
        </button>     
      </div>
    </div>
  </div>

  <!-- config not yet loaded -->
  <div class="col-md-8" ng-show="!config_loaded">
    <div class="row">
      <div class="col-md-12">
        <p><br/><b>Loading current calibration...</b></p>
      </div>
    </div>
  </div>

  <!-- config is loaded -->
  <div class="col-md-8" ng-show="config_loaded"> 
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-5">
        <h4>
          Nominal Dimension (mm):
        </h4>
      </div>
      <div class="col-md-7">
        <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_nominal(-0.1)">-0.1</button>
        <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_nominal(-0.01)">-0.01</button>
        &nbsp;<b>{{ nominal | number:2 }}</b>&nbsp;
        <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_nominal(0.01)">+0.01</button>
        <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_nominal(0.1)">+0.1</button>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-5">
        <h4>
          Measurement <b>X1</b> (mm):
        </h4>
      </div>
      <div class="col-md-7">
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_x1(-0.1)">-0.1</button>
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_x1(-0.01)">-0.01</button>
          &nbsp;<b>{{ x1 | number:2 }}</b>&nbsp;
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_x1(0.01)">+0.01</button>
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_x1(0.1)">+0.1</button>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-5">
        <h4>
          Measurement <b>X2</b> (mm):
        </h4>
      </div>
      <div class="col-md-7">
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_x2(-0.1)">-0.1</button>
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_x2(-0.01)">-0.01</button>
          &nbsp;<b>{{ x2 | number:2 }}</b>&nbsp;
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_x2(0.01)">+0.01</button>
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_x2(0.1)">+0.1</button>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-5">
        <h4>
          Measurement <b>Y1</b> (mm):
        </h4>
      </div>
      <div class="col-md-7">
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_y1(-0.1)">-0.1</button>
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_y1(-0.01)">-0.01</button>
          &nbsp;<b>{{ y1 | number:2 }}</b>&nbsp;
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_y1(0.01)">+0.01</button>
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_y1(0.1)">+0.1</button>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-5">
        <h4>
          Measurement <b>Y2</b> (mm):
        </h4>
      </div>
      <div class="col-md-7">
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_y2(-0.1)">-0.1</button>
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_y2(-0.01)">-0.01</button>
          &nbsp;<b>{{ y2 | number:2 }}</b>&nbsp;
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_y2(0.01)">+0.01</button>
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="adjust_y2(0.1)">+0.1</button>
      </div>
    </div>

  </div> 

</div>