<div class="row">
  <div class="col-md-7">
    <div class="row">

      <!-- header line -->
      <div class="col-md-12">
        <button type="button" class="pull-right btn btn-danger btn-lg navigation" ng-click="exit()">
          Cancel
        </button>  
        <h3 class="wizard-title">
          Prime Extruders
        </h3>
        <br/>&nbsp;
      </div>

      <!-- text step 1 -->
      <div class="col-md-12" ng-show="step == '1'">
        <p><b>Important:</b><br/>
          Make sure you selected the correct filament settings for <span ng-if="isDualExtruder">each</span><span ng-if="!isDualExtruder">the</span> extruder!<br/>
          See <i>Configuration</i> tab.
        <p>
        <br/>
        <p ng-if="isDualExtruder">Select your extruder:</p>
        <div ng-show="isDualExtruder" class="btn-group text-center">
            <button type="button" class="btn btn-primary btn-lg" ng-model="extruder" btn-radio="'left_extruder'">Left</button>
            <button type="button" class="btn btn-primary btn-lg" ng-model="extruder" btn-radio="'right_extruder'">Right</button>
        </div>
        <p ng-show="extruder != null"><b>Filament currently loaded:</b>
          <span ng-show="(extruder == 'left_extruder') && filaments_loaded.left">
            {{ filaments_loaded.left.name }} ({{ filaments_loaded.left.extrusion_temp }})°C
          </span>
          <span ng-show="(extruder == 'right_extruder') && filaments_loaded.right">
            {{ filaments_loaded.right.name }} ({{ filaments_loaded.right.extrusion_temp }})°C
          </span>   
          <span ng-show="((extruder == 'left_extruder') && !filaments_loaded.left) || ((extruder == 'right_extruder') && !filaments_loaded.right)">
            No material loaded or not configured (see <i>Configuration</i> tab)!
          </span>         
        </p>    
        <br/>
        <div class="clearfix"></div>    
        <button type="button" class="{{ ((extruder == null) || ((extruder == 'left_extruder') && !filaments_loaded.left) || ((extruder == 'right_extruder') && !filaments_loaded.right)) && 'disabled' }} pull-right btn btn-primary btn-lg navigation" ng-click="step2()">
          OK, continue
        </button>     
      </div>

      <!-- text step 2 -->
      <div class="col-md-12" ng-show="step == '2'">
        <p>Please wait while the <b ng-show="isDualExtruder">{{ extruder_name }}</b> extruder is beeing preheated. This may take a couple of minutes.</p>
        <p>Current/ Target extruder temperature: <b>{{ extruder_temp }} / {{ temp[extruder].target }}°C</b></p>
        <p>When extrusion temperature is reached, manually extrude some filament until a string
          of molten filament comes out of the nozzle (compare with picture!):</p>
        <button type="button" class="btn {{ !extruder_preheated && 'disabled' }} btn-primary btn-lg navigation" ng-click="extrude()">
          Extrude 5mm
        </button>        
        <br/>
        <br/>
        <button type="button" class="btn btn-default btn-lg navigation" ng-click="step1()">
          Back
        </button>  
        <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="exit()">
          Done!
        </button>         
      </div>
      
    </div>
  </div>     

  <!-- picture -->
  <div class="col-md-5">
    <!-- picture: extruded filament -->
    <img src="<%= asset_path("touchapp/images/wizard_priming.jpg") %>" class="img-responsive wizard-image">
  </div> 

</div>  