<div class="row">
  <div class="col-md-7">
    <div class="row">

      <!-- header line -->
      <div class="col-md-12">
        <button type="button" class="pull-right btn btn-danger btn-lg navigation" ng-click="exit()">
          Cancel
        </button>  
        <h3 class="wizard-title">
          Load Filament
        </h3>
        <br/>&nbsp;
      </div>

      <!-- text for step 1 -->
      <div class="col-md-12" ng-show="step == '1'">
        <alert type="success"><b>Important:</b><br/>For instructions on changing from one to another printing material refer to the manual!</alert>
        <p>Install a new spool of filament by sliding it onto the spool holder at the back of
          the machine.</p>
        <p>Pay attention to the sense of rotation, as highlighted in the picture</p>
        <br/>
        <br/>
        
        <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="step2()">
          Next
        </button>     
      </div>

      <!-- text for step 2 -->
      <div class="col-md-12" ng-show="step == 2">
        <p>Pull the filament feed tube out of the extruder idler lever.</p>
        <br/>
        <br/>    
        <button type="button" class="btn btn-default btn-lg navigation" ng-click="step1()">
          Back
        </button>         
        <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="step3()">
          Next
        </button>     
      </div>

      <!-- text for step 3 -->
      <div class="col-md-12" ng-show="step == 3">
        <p>Cut off the beginning of the filament with wire cutters to get a
          straight end.</p>
        <p>Lead the plastic rod into the filament feed until it protrudes the feeding tube
          about 10cm at the other side (at the extruder).</p>
        <br/>
        <br/>    
        <button type="button" class="btn btn-default btn-lg navigation" ng-click="step2()">
          Back
        </button>         
        <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="step4()">
          Next
        </button>     
      </div>

      <!-- text for step 4 -->
      <div class="col-md-12" ng-show="step == '4'">
        <p>Relax the filament idler wheel tension with two fingers,
          as shown to the right. Then feed the filament from top through the idler lever,
          down into the extruder barrel.</p>
        <p>Next, run the priming wizard to prepare the nozzle for printing.</p>
        <br/>
        <br/>
        <button type="button" class="btn btn-default btn-lg navigation" ng-click="step3()">
          Back
        </button>         
        <a href="#/wizard_priming" class="pull-right btn btn-primary btn-lg navigation">
          Priming Wizard
        </a>             
      </div>

    </div>
  </div>

  <!-- picture Step 1 -->
  <div class="col-md-5" ng-show="step == '1'">
    <!-- picture: spool holders -->
    <img src="<%= asset_path("touchapp/images/wizard_load_filament_spools.jpg") %>" class="img-responsive">
  </div> 

  <!-- picture Step 2 -->
  <div class="col-md-5" ng-show="step == 2">
    <!-- picture: pull tubes out -->
    <img src="<%= asset_path("touchapp/images/wizard_load_filament_tube.jpg") %>" class="img-responsive">
  </div> 

  <!-- picture Step 3 -->
  <div class="col-md-5" ng-show="step == 3">
    <!-- picture: slide in filament -->
    <img src="<%= asset_path("touchapp/images/wizard_load_filament_slidein.jpg") %>" class="img-responsive">
  </div> 

  <!-- picture Step 4 -->
  <div class="col-md-5" ng-show="step == '4'">
    <!-- picture: insert into extruder -->
    <img src="<%= asset_path("touchapp/images/wizard_load_filament_insert.jpg") %>" class="img-responsive">
  </div> 

</div>