<button type="button" class="pull-right btn btn-danger btn-lg navigation" ng-click="exit()">
  Cancel
</button>  
<h3 class="wizard-title">
  Regular Maintenance
</h3>
<div class="clearfix"><br/></div>

<!-- Step 1 -->
<div class="row" ng-show="step == 1">
  <div class="col-md-7">
    <p>To maintain consistent print quality and for troubleshooting, work through the
      following checklist:</p>
    <h4>Filament Drive Gears</h4>
    <p>Remove any residue material (plastic chippings) with a thin needle or a
      suitable brush.</p>
    <br/>
    <br/>    
    <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="step2()">
      Next
    </button>    
  </div>
  <div class="col-md-5">
    <!-- picture: dirty drive gear-->
    <img src="<%= asset_path("touchapp/images/wizard_regular_maintenance_drivegear.jpg") %>" class="img-responsive">    
  </div> 
</div>

<!-- Step 2 -->
<div class="row" ng-show="step == 2">
  <div class="col-md-7">
    <h4>Extruder Idler Lever Preload</h4>
    <p>Adjust the idler lever spring pressure with a metric #3 Allen key, just enough that
      the filament gets transported reliably (without slipping or chipping). The ideal
      pressure is dependant on the print material you are using.</p>
    <p>Be gentle, too much pressure is counterproductive and will result in chipping
      filament.</p>
    <br/>
    <br/>    
    <button type="button" class="btn btn-default btn-lg navigation" ng-click="step1()">
      Back
    </button>         
    <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="step3()">
      Next
    </button>     
  </div>
  <div class="col-md-5">
    <!-- picture: idler tension-->
    <img src="<%= asset_path("touchapp/images/wizard_regular_maintenance_idlerpreload.jpg") %>" class="img-responsive">    
  </div> 
</div>

<!-- Step 3 -->
<div class="row" ng-show="step == 3">
  <div class="col-md-7">
    <h4>Timing Belt Tension</h4>
    <p>The Tension of the X-axis and both Y-axis timing belts can be checked by
      measuring the resonance frequency when plucked like a guitar string.</p>
    <p>Therefor pluck the longest free hanging section of each belt and measure the oscillation
      with a frequency meter - or a cheap guitar tuning device (tip: also available as
      smartphone apps!).</p>
    <p>Adjust by
      rotating the knurled thumbwheels on each belt tensioner until a frequency of about
      <b>220Hz</b> is met.</p>
    <br/>
    <br/>    
    <button type="button" class="btn btn-default btn-lg navigation" ng-click="step2()">
      Back
    </button>         
    <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="step4()">
      Next
    </button>     
  </div>
  <div class="col-md-5">
    <!-- picture: belt tensioner -->
    <img src="<%= asset_path("touchapp/images/wizard_regular_maintenance_belttensioner.jpg") %>" class="img-responsive">    
  </div> 
</div>

<!-- Step 4 -->
<div class="row" ng-show="step == 4">
  <div class="col-md-7">
    <h4>Bed Leveling</h4>
    <p>
      Always look out for an accurately leveled printbed.
      <br/>
      <br/>
      <a href="#/wizard_leveling" class="btn btn-default btn-lg navigation" ng-click="step3()">
        Run Bed Leveling Wizard
      </a> 
    </p>
<!--    
    <h4>Nozzle Cleaning</h4>
    <a href="#/wizard_nozzle_cleaning" class="btn btn-default btn-lg navigation" ng-click="step3()">
      Show Nozzle Cleaning Guide
    </a>    
    
    <h4>Service Airfilter</h4>
    <a href="#/wizard_service_airfilter" class="btn btn-default btn-lg navigation" ng-click="step3()">
      Run Airfilter Service Guide
    </a>    
-->
    <br/>
    <br/>    
    <button type="button" class="btn btn-default btn-lg navigation" ng-click="step3()">
      Back
    </button>         
    <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="exit()">
      Done.
    </button>     
  </div>
  <div class="col-md-5">
    <!-- picture: printbed in preheat-position -->
    <img src="<%= asset_path("touchapp/images/wizard_leveling_preheat.jpg") %>" class="img-responsive">    
  </div> 
</div>
