<div class="row">
  <div class="col-md-7">
    <div class="row">

      <!-- header line -->
      <div class="col-md-12">
        <button type="button" class="pull-right btn btn-danger {{ calibrating && 'disabled' }} btn-lg navigation" ng-click="cancel()">
          Cancel
        </button>  
        <h3 class="wizard-title">
          Calibrate Axes Backlash
        </h3>
        <br/>&nbsp;
      </div>

      <!-- text contents -->
      <div class="col-md-12">
        <p>One factor strongly affecting the dimensional accuracy of printed parts is mechanical axes backlash.
           The RepRap Industrial uses internal algorithms to precisely compensate the effects of X- and Y-axis
           backlash.</p>   
        <p>This wizard provides a fully automatic measurement routine to calibrate the backlash compensation system.</p>
        <p><b>Once started, the calibration cannot be interrupted. It may take several minutes to finish!</b></p>
        <br/>
      </div>
      <div class="col-md-12" ng-show="!config_loaded">
        <p><br/><b>Loading current configuration...</b></p>
      </div>
      <div class="col-md-12">
        <button type="button" class="pull-right btn btn-primary {{ calibrating && 'disabled' }} btn-lg" ng-click="start_calibration()" ng-show="(config_loaded && !calibrating)">
          Start Calibration
        </button>
        <button type="button" class="pull-right btn btn-primary btn-lg" ng-show="error_message || done" ng-click="ok()">
          Quit
        </button>        
      </div>

    </div>
  </div>

  <!-- right column -->
  <div class="col-md-5">
    <table class="table" ng-show="calibrating">
      <thead>
        <tr>
          <th></th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        <tr> 
          <td class="text-center"><i class="fa fa-check"></i></td>
          <td>Initializing...</td>
        </tr>
        <tr ng-show="x_is_calibrating" class="{{ (x_is_calibrating && !y_is_calibrating) && 'success' }}">
          <td class="text-center">
            <i class="fa fa-arrow-right" ng-show="(x_is_calibrating && !y_is_calibrating)"></i>
            <i class="fa fa-check" ng-show="y_is_calibrating"></i>
          </td>
          <td>Measuring x-axis backlash...<br/>
          <i>{{ backlash_x && backlash_x.toFixed(2) + " mm" }}</i></td>
        </tr>
        <tr ng-show="y_is_calibrating" class="{{ (y_is_calibrating && !is_saving) && 'success' }}">
          <td class="text-center">
            <i class="fa fa-arrow-right" ng-show="(y_is_calibrating && !is_saving)"></i>
            <i class="fa fa-check" ng-show="is_saving"></i>
          </td>
          <td>Measuring y-axis backlash...<br/>
          <i>{{ backlash_y && backlash_y.toFixed(2) + " mm" }}</i></td>
        </tr>
        <tr ng-show="is_saving" class="{{ (is_saving && !done) && 'success' }}">
          <td class="text-center">
            <i class="fa fa-arrow-right" ng-show="(is_saving && !done)"></i>
            <i class="fa fa-check" ng-show="done"></i>
          </td>
          <td>Updating backlash compensation...</td>
        </tr>
        <tr ng-show="done" class="success">
          <td class="text-center">
            <i class="fa fa-check"></i>
          </td>
          <td>Done.</td>
        </tr>
        <tr class="danger" ng-show="error_message">
          <td class="text-center"><i class="fa fa-warning"></i></td>
          <td>
            <b>ERROR</b><br/>
            {{ error_message }}
          </td>
        </tr>        
      </tbody>
    </table>

  </div> 

</div>