<div class="row">
  <div class="col-md-7">
    <div class="row">

      <!-- header line -->
      <div class="col-md-12">
        <button type="button" class="pull-right btn btn-danger btn-lg navigation" ng-click="exit()">
          Cancel
        </button>  
        <h3 class="wizard-title">
          Calibrate Extruder Offset
        </h3>
        <br/>&nbsp;
      </div>

      <!-- text contents -->
      <div class="col-md-12">
        <p>To precisely calibrate the offset between the two extruder nozzles, a calibration print is
          created to measure the mechanical deviation:</p>      
        <button type="button" class="btn btn-default btn-lg" ng-click="generate_printjob()">
          Add Calibration Printjob to Queue
        </button>
        <p><br/>After printing visually select the line number for X and Y where both single line
          extrusions (bottom layer and top layer) vertically align with each other.</p>
      </div>
      <div class="col-md-12" ng-show="!config_loaded">
        <p><br/><b>Loading current calibration...</b></p>
      </div>
      <div class="col-md-6" ng-show="config_loaded">
        <h4 class="text-center">
          X:
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="dec_x()">-</button>                    
          &nbsp;<b>{{ line_x }}</b>&nbsp;
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="inc_x()">+</button>
        </h4>
        <h4 class="text-center">
          Y:
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="dec_y()">-</button>                    
          &nbsp;<b>{{ line_y }}</b>&nbsp;
          <button type="button" class="btn btn-primary btn-lg keypad" ng-click="inc_y()">+</button>
        </h4>    
      </div>
      <div class="col-md-6" ng-show="config_loaded">
        <button type="button" class="pull-right btn btn-primary btn-lg navigation" ng-click="save()">
          Save Calibration
        </button>     
      </div>

    </div>
  </div>

  <!-- image -->
  <div class="col-md-5">
    <!-- picture: calibration pattern -->
    <img src="<%= asset_path("touchapp/images/wizard_calibrate_offset_pattern.jpg") %>" class="img-responsive">    
  </div> 

</div>