<div class="row">
  <div class="col-md-7">
    <div class="row">

      <!-- header line -->
      <div class="col-md-12">
        <button type="button" class="pull-right btn btn-danger btn-lg navigation" ng-click="exit()">
          Cancel
        </button>  
        <h3 class="wizard-title">
          Calibrate Extrusion
        </h3>
        <br/>&nbsp;
      </div>

      <!-- text contents -->
      <div class="col-md-12">
        <p>To precisely calibrate the extrusion multiplier for the slicing software
          a calibration print is necessary. <span ng-if="isDualExtruder">Select one extruder</span><span ng-if="!isDualExtruder">Use the button</span> to add a printjob to the queue:</p>
        <button type="button" class="btn btn-default btn-lg" ng-click="generate_printjob('left')">
          <b ng-if="isDualExtruder">Left </b>Extruder Calibration
        </button>
        <button ng-show="isDualExtruder" type="button" class="btn btn-default btn-lg" ng-click="generate_printjob('right')">
          <b>Right</b> Extruder Calibration
        </button>    
        <br/>
        <br/>    
        <p>After printing measure the exact wall thickness with calipers and adjust the following
          calculator according to your measurement:</p>
      </div>
      <div class="col-md-8">
        <h4 class="text-center">
          Measurement:
        </h4>    
        <h4 class="text-center">
          <button type="button" class="btn btn-primary btn-lg" ng-click="del(0.1)">-0.1</button>                    
          <button type="button" class="btn btn-primary btn-lg" ng-click="del(0.01)">-0.01</button>      
          &nbsp;<b>{{ measurement | number: 2 }} mm</b>&nbsp;
          <button type="button" class="btn btn-primary btn-lg" ng-click="add(0.01)">+0.01</button>
          <button type="button" class="btn btn-primary btn-lg" ng-click="add(0.1)">+0.1</button>              
        </h4>
      </div>
      <div class="col-md-4">
        <h4 class="text-center">Extrusion Multiplier:</h4>
        <h4 class="text-center"><b>{{ multiplier }}</b></h4>
      </div>
    </div>
  </div>

  <!-- image step 1 -->
  <div class="col-md-5">
    <!-- picture: calipers -->
    <img src="<%= asset_path("touchapp/images/wizard_calibrate_extrusion_calipers.jpg") %>" class="img-responsive wizard-image">        
  </div> 

</div>