@font-face {
  font-family: 'Lato';
  src:font-url('Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:font-url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:font-url('Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src:font-url('RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averia Serif Libre';
  src:font-url('AveriaSerifLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-family-sans-serif: 'Roboto';
$font-size-base: 16px;
$brand-primary: #7FFF00;
//$brand-primary: #8A2BE2;



// declare all sass bootstrap variables above here!
@import "bootstrap";

// override all css styles below here
body { 
  padding-top: 300px; 
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;  
  padding-bottom: 30px;          
}

.container {
  margin-left:15px;
  margin-right:15px;
  width:auto;
}

.navbar-nav > li:first-child {
  padding-left:15px;
}

input,
textarea {
     -moz-user-select: text;
}

.lock {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: none;
      filter:alpha(opacity=50);
      -moz-opacity:0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5;
      z-index: 1990;
      text-align: center;
/*      display: none; */
}

.lockbutton {
      /* for IE */
      filter:alpha(opacity=100);
      /* CSS3 standard */
      opacity:1;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2000;
/*      display: none; */
}

.header-background {
  background-image: image-url('blurry-autumn-background.jpg');
  background-size: 1366px 960px;
  background-position: 0px -400px;  
  background-repeat: repeat-x;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.transparent {
  background: transparent;
  border-color: white;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: $btn-primary-bg !important;
  color: $btn-primary-color !important;
  border-color: $btn-primary-border !important;
}

.btn-default:hover, .btn-default:focus {
  background-color: $btn-default-bg !important;
  color: $btn-default-color !important;
  border-color: $btn-default-border !important;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: $btn-danger-bg !important;
  color: $btn-danger-color !important;
  border-color: $btn-danger-border !important;
}

.keypad {
    width: 68px !important;
}

.log-timestamp {
  color: lightgrey;
}

.wizard-title {
  margin-top: 0px;
}

.wizard-image {
    display: block;
    max-height:365px;
    width: auto;
    height: auto;
}
